* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar h1 {
    font-size: 3rem;
    font-weight: bold;
    flex: 1;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex: 2;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a.active{
    font-weight: bold;
    color: #ffffff;
}


@media (max-width:800px){
    .navbar{
        flex-direction: column;
    }
    .navbar h1{
        font-size: 2rem;
        font-weight: bold;
    }

    .navbar ul{
        flex-direction: column;
        align-items: center;
    }
    .navbar li {
        margin: 10px 0;
    }
}
